.env
token
API
# Logs
*.log

# Dossiers système
__pycache__/
node_modules/

# Fichiers système
.DS_Store
Thumbs.db

# Sauvegardes ou versions locales
*.bak
*.old
*.tmp

# Dossiers spécifiques à ton projet
public/IA/
lunettes/
lunettes_brutes.txt

